@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@500&display=swap);
@import 'https://cdn.jsdelivr.net/gh/lazywasabi/thai-web-fonts@7/fonts/TlwgTypist/TlwgTypist.css';

body,
p, li {
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
p, li {
	font-size: 40px;
}

red {
	color: red;
}

/* body {
	line-height: 0.8;
} */

table, th, td {
	font-size: 96%;
	font-family: 'Tlwg Typist', monospace;
  border: 1px solid black;
  border-collapse: collapse;
}

.right {
	  text-align: right;
}

small {
	font-size: 80%;
}

pre {
	font-size: 100%;
	font-family: 'Tlwg Typist', monospace;
	margin-left: 2%;
	background-color: gainsboro;
}

.flex-container {
	display: flex;
  }